This is my solution for the skill test

In [1]:
import pandas as pd
import os
os.sys.path.append('./..')
from utils.loadgenius import DataLoader

dl = DataLoader('./../catalog.yml')

In [2]:
dl.list_datasets()

['importer_normalized_data', 'main', 'ports']

In [3]:
ports = dl.load('ports').drop('Unnamed: 0', axis=1)
main = dl.load('main').drop('Unnamed: 0', axis=1)
importer = dl.load('importer_normalized_data').drop('Unnamed: 0', axis=1)

# Preprocess

## Remove duplicates in ports:

In [4]:
print("ports: Shape before", ports.shape[0])
ports = (ports
         .drop_duplicates()
         .reset_index(drop=True)
        )
print("ports: Shape after", ports.shape[0])

ports: Shape before 10927
ports: Shape after 5726

In [5]:
importer.shape

(46175, 3)

In [6]:
ports

      port_code                                   port_name
0           101                             Portland, Maine
1           102                               Bangor, Maine
2           103                             Eastport, Maine
3           104                              Jackman, Maine
4           105                            Vanceboro, Maine
...         ...                                         ...
5721      99920   South Atlantic (Cape Hatteras to Florida)
5722      99930                              Gulf of Mexico
5723      99940  North Pacific (Alaska, Washington, Oregon)
5724      99950                  South Pacific (California)
5725      99999                   Foreign Trade Zone in USA

[5726 rows x 2 columns]

In [7]:
main.drop_duplicates().shape

(2081670, 6)

In [8]:
main.shape

(4158454, 6)

In [9]:
main.head()

,consignee,calculated_teu,file_month,port_of_unlading,country_of_origin,hs_codes
0,"{name=PIOTR KURPINOWICZ, address=26 OLD WELL R...",0.849421,1,4601,POLAND,HS CODE 9905 0000
1,"{name=TRANSOM SYMPHONY OPCO LLC, address=120 L...",1.000000,1,1401,ITALY,HS CODE 3305 9000
2,"{name=VARITILE INC, address=1930 NORTH GREAT S...",2.000000,1,5301,BELGIUM,HS CODE 7308 9059
3,"{name=BSN MEDICAL GMBH, address=400 OLMOS BLVD...",0.035356,1,5301,GERMANY,HS CODE 5806 2000
4,"{name=TRANSGROUP INTERNATIONAL, address=860 DE...",4.000000,1,4601,DENMARK,HS CODE 3920 3000

In [10]:
import re

def parse_string_to_dict(input_string):
   
    # Extract cleaned_address_break_down and id using regular expressions
    cleaned_address_breakdown_match = re.search(r'cleaned_address_breakdown=({.*?})', input_string)
    id_match = re.search(r'id=([^,]+)', input_string)

    if cleaned_address_breakdown_match and id_match:
        # Extracted matches
        cleaned_address_breakdown_str = cleaned_address_breakdown_match.group(1)
        id_value = id_match.group(1)

        # Convert cleaned_address_breakdown to a dictionary
        cleaned_address_breakdown_dict = dict(item.strip().split('=') for item in cleaned_address_breakdown_str.strip('{}').split(','))

        # Create the final result dictionary
        result_dict = {
            'cleaned_address_breakdown': cleaned_address_breakdown_dict,
            'id': id_value
        }

        return result_dict
    else:
        print("Error: Unable to extract the required information from the input string.")
        return None

In [11]:
%%time
import multiprocessing as mp

params = (i for i in list(main['consignee']))

with mp.Pool() as pool:
    result = pool.map(parse_string_to_dict, params)

CPU times: user 33.8 s, sys: 6.91 s, total: 40.7 s
Wall time: 58.7 s

In [13]:
main['extracted'] = result